@font-face {
	font-family: 'themedevregular';
	src: url('fonts/themedev_10-01-13-webfont.eot');
	src: url('fonts/themedev_10-01-13-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/themedev_10-01-13-webfont.woff') format('woff'),
		 url('fonts/themedev_10-01-13-webfont.ttf') format('truetype'),
		 url('fonts/themedev_10-01-13-webfont.svg#themedevregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.font {font-family: 'Amatic SC', cursive; /* 400, 700 */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {outline: none !important;
}
img {
	border:none 0;
	outline:none;
}
input {outline:none !important;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
.fleft {float:left;
}
.fright {float:right;
}
.color {color:#ff9000;
}

/** MAIN **/

body {
	color: #666666;
	background: #FFF;
	font-family: Arial;
	font-size: 13px;
	line-height:18px;
	margin: 0;
	padding: 0;
	overflow-x:hidden !important;
}
html { font-size: 100%;
}
::selection{
	background: #ff9000;
	color: #FFF;
}
a, a:focus {
	color: #ff9000;
	text-decoration:none !important;
}
a:hover { color: #666666;
}
strong { font-weight: 600;
}
.center { text-align: center;
}
.colored { color: #ff9000;
}
.bg_colored { background-color: #ff9000;
}
/* All the text elements on ".bg_colored" are only readable in a white color */
.bg_colored a, .bg_colored span, .bg_colored h1,.bg_colored h2,.bg_colored h3, .bg_colored h4,.bg_colored h5,.bg_colored h6,.bg_colored p,
.bg_colored blockquote,.bg_colored pre, .bg_colored a,.bg_colored abbr,.bg_colored acronym,.bg_colored address,.bg_colored big,
.bg_colored cite,.bg_colored code,.bg_colored del,.bg_colored dfn,.bg_colored em{ color: #FFF; }
.justify {text-align: justify;
}

/**BUTTON**/
.button{
    background: #fff;
    color: #67635d;
    margin: 0 10px 10px 0;
    border-radius: 7px;
	-webkit-border-radius:7px;
    display: inline-block;
	border:2px #67635d solid;
	line-height:20px;
    padding: 13px 20px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: all 400ms; 
	-webkit-transition: all 400ms;
	text-transform:uppercase;
}
.button:hover{
    color: #ff9000;
    text-decoration: none;
	border-color:#ff9000;
}
.shortcode_button { 
	display:inline-block;
	margin:0 10px 10px 0px;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	line-height:20px;
	font-size:15px;
	padding: 13px 20px;
	font-weight:700;
	text-transform:uppercase;
	vertical-align:top;
	text-align:center;
	border-radius: 7px;
	-webkit-border-radius:7px;
}
.shortcode_button.btn_type1 {
	color:#67635d;
	border:2px #67635d solid;
}
.shortcode_button.btn_type1:hover {
	color: #ff9000;
    text-decoration: none;
	border-color:#ff9000;
}

.page_section header {
	color: #666666;
	width: 100%;
	overflow:hidden;
	padding-bottom:69px;
	padding-top:81px;
	text-align:center;
}
.page_section header div.container {
	z-index:900;
	position: relative;
}
.page_section header div.container h1 {
	font-size: 56px;
	padding:0 0 20px 0;
	margin:0;
	text-align: center;
	color:#67635d;
	font-weight:400;
	font-family: 'Amatic SC', cursive;
	line-height:47px;
}
.page_section header div.container p {
	color:#666666;
	font-weight:normal;
	line-height:20px;
	text-align: center;
	font-size:15px;
	font-family: Arial;
	padding-bottom:10px;
	margin:0;
}
.page_section header div.container .shortcode_button {margin:18px auto 10px auto !important;
}

/** HOME SECTION **/
#home {position: relative;
}
#home header {
	background-image:url(../images/slide_bg/slide1_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

.content_section {
	padding-top:56px;
	padding-bottom:75px;
}

.service {
	line-height:18px;
	margin-bottom:65px;
	font-size:13px;
	color:#adadad;
	font-family:Arial;
	padding:0 0 0 81px;
	text-align:left;
	min-height:68px;
	position:relative;
}
.service a {
	display:block;
	color:#adadad;
}
.service_icon {
	width:66px;
	height:66px;
	line-height:65px;
	border-radius:50%;
	-webkit-border-radius:50%;
	display:block;
	margin:0;
	border:2px #67635d solid;
	background:#fff;
	font-size:30px;
	color:#67635d;
	font-family: 'themedevregular';
	padding:0 0 0 16px;
	text-align:left;
	transition: all 500ms; 
	-webkit-transition: all 500ms; 	
	position:absolute;
	left:0;
	top:0;
}
.service_title {
	line-height:24px;
	padding-bottom:8px;
	font-size:16px;
	color:#666666;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	display:block;
}
.service a:hover .service_icon {
	border-color:#ff9000;
	color:#ff9000;
}

/** HEADER **/
#top{
	position: absolute;
	width: 100%;
	z-index: 99999;
	top: 0;
	left:0;
}
#top header{
	height: 130px;
	padding: 31px 0 36px 0;
	background:url(../images/opacity.png) repeat left top;
}
#logo {float:left;
}
#logo img {vertical-align:top;
}
/*Menu*/
.navmenu{
	margin: 0;
	float:right;
	padding:25px 0 15px 0;
}
.navmenu ul li {
	display: inline-block;
	line-height:20px;
	vertical-align:top;
}
.navmenu ul li a {
	color: #67635d;
	font-size: 14px;
	padding: 0;
	font-weight:400;
	text-decoration:none !important;
	outline:none;
	font-family: 'Open Sans', sans-serif;
	line-height:20px;
	display:block;
}
.navmenu ul li a:hover, .navmenu ul li.active a {
    padding: 0;
    text-decoration: none;
    color:#ff9000;
}
.navmenu ul li{
    list-style: none;
    margin: 0 11px;
    position: relative;
}
.navmenu ul li:last-child {margin-right:0;
}
.pattern {
    height: 100%;
    width: 100%;
    z-index: 0;
}
a.menu_toggler {display:none;
}
.mobile_menu_wrapper {display:none;	
}
nav.mobile_header {display:none!important;
}
.fixed-menu {
	border:none;
	position:fixed;
	left:0px;
	top:-100px;
	width:100%!important;
	background:#fff !important;
	z-index:99999;
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width:100%!important;
	transition: all 300ms; 
	-webkit-transition: all 300ms;
}
.fixed-menu.fixed_show {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	top:0;
}
.fixed-menu-wrapper {
	padding-top:16px;
	padding-bottom:21px;
}

.single_page #top header {
	padding: 16px 0 21px 0;
	height:100px;
}

h4.title {
	font-style:normal;
	font-size:32px;
	font-weight:700;
	color:#555555;
	padding:0;
	margin:0 0 21px 0;
	line-height:35px;
	font-family: 'Amatic SC', cursive;
}

.carouselslider  {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);		
	transition: opacity 400ms;
	-webkit-transition: opacity 400ms;
	position:relative;
	margin:0 auto;	
}
.carouselslider ul { 
	margin:0; 
	padding:0; 
	list-style:none; 
}
.carouselslider ul li:before { 
	content:''!important; 
	margin:0!important; 
	padding:0!important
}
.carouselslider ul li { 
	float:left; 
	display:inline-block;  
	padding:0 0 0 20px !important; 
	margin:0;
	font-style:normal;
}

.carousel-previous,
.carousel-next {
	width:22px!important;
	height:22px; 
	padding:0!important;
	display:block; 
	position:absolute!important;
	border:none; 
	cursor:pointer;  
	top:-46px!important; 
	left:auto!important;
	border-radius:0!important;
	background-color:transparent !important;
	margin-top:0!important;		
	opacity: 1!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100)!important;
	background-position:0 0;
}
.carouselslider a {
	transition: color 300ms;
	-webkit-transition: color 300ms;
}
.carousel-previous {
	right:26px!important; 
	background-image:url(../images/carousel_prev.png) !important;
}
.carousel-next { 
	right:0px!important; 
	background-image:url(../images/carousel_next.png) !important;
}
.carouselslider .carousel-previous:hover, 
.carouselslider .carousel-next:hover {
	background-position:0 22px;
}
.carouselslider .disabled, .carouselslider .disabled:hover {
	cursor:default;
	background-position:0 0 !important;
}

.item_list {overflow:hidden;
}
.carousel_wrapper {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:-100%;
	display:none;
	opacity: 0.6; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	transition: top 400ms;
	-webkit-transition: top 400ms;
}
.carouselslider .item:hover .img_block .carousel_wrapper {top:0%;
}
.carousel-wrap .carousel_wrapper {display:block;
}
.margin-fixer {
	margin-left:-20px!important;
	height:auto!important;
}

.col-md-12 .items5 li { width:192px;
}
.col-md-12 .items4 li { width:240px;
}
.col-md-12 .items3 li { width:320px;
}
.col-md-12 .items2 li { width:480px;
}
.col-md-12 .items1 li { width:960px;
}
 .col-md-6 .items5 li { width:95px;
}
.col-md-6 .items4 li { width:118px;
}
.col-md-6 .items3 li { width:158px;
}
.col-md-6 .items2 li { width:237px;
}
.col-md-6 .items1 li { width:475px;
}	
.col-md-4 .items5 li { width:62px;
}
.col-md-4 .items4 li { width:78px;
}
.col-md-4 .items3 li { width:104px;
}
.col-md-4 .items2 li { width:156px;
}
.col-md-4 .items1 li { width:313px;
}
.col-md-3 .items5 li { width:56px;
}
.col-md-3 .items4 li { width:58px;
}
.col-md-3 .items3 li { width:77px;
}
.col-md-3 .items2 li { width:116px;
}
.col-md-3 .items1 li { width:233px;
}
.col-md-8 .items5 li { width:127px;
}
.col-md-8 .items4 li { width:159px;
}
.col-md-8 .items3 li { width:212px;
}
.col-md-8 .items2 li {	width:318px;
}
.col-md-8 .items1 li { width:637px;
}
.col-md-9 .items5 li { width:143px;
}
.col-md-9 .items4 li { width:179px;
}
.col-md-9 .items3 li { width:239px;
}
.col-md-9 .items2 li { width:359px;
}
.col-md-9 .items1 li { width:718px;
}		

li { line-height: 18px;
}
p {
	padding:0;
	margin:0 0 7px 0;
}

.img_block img { 
	width:100%; 
	padding:0; 
	margin:0; 
	display:block;
	position:relative;
}
.img_block a { display:block;
}

.featured_posts {
	text-align:left;
	font-size:12px;
	color:#adadad;
}
.featured_posts h4,
.portfolio_title h4 {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#ff9000;
	padding:0;
	margin:17px 0 11px 0;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
}
.featured_posts h4 a,
.portfolio_title h4 a {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#ff9000;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
}
.featured_posts h4 a:hover,
.portfolio_title h4 a:hover {color:#666;
}
.desc_block {
	padding-bottom:7px;
	color:#666666;
	font-size:13px;
}
.separator {
	padding:0 11px;
	color:#cccccc;
}

.hover_img {
	position:relative;
	border-radius:7px;
	-webkit-border-radius:7px;
}
.zoom {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image:url(../images/zoom.png);
	background-repeat:no-repeat;
	background-position: center top;
	z-index:5;
	display:block;
	text-indent:-9999px;
	opacity: 0; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	transition: all 0.4s ease-in-out !important; 
	-webkit-transition: all 0.4s ease-in-out !important;	
}
.hover_img:hover .zoom {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
	background-position: center center;
}
.hover_img img {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
	transition: opacity 0.4s ease-in-out; 
	-webkit-transition: opacity 0.4s ease-in-out; 
	border-radius:7px;
	-webkit-border-radius:7px;
	width:100%;
}
.hover_img:hover img {
	opacity: 0.2; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);	
}

.divider, .divider5 {
	height:60px;
	font-size:0;
}
.divider5 {height:7px;
}
.marg_b {padding-bottom:0;
}

/** ABOUT SECTION **/
#about{/*position: relative;*/
}
#about header{
	background-image:url(../images/slide_bg/slide2_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
.video {
	margin-bottom:10px;
	overflow:hidden;
	border-radius:7px;
	-webkit-border-radius:7px;
	outline:none;
	font-size:0;
	vertical-align:top;
}
.video iframe {
	padding:0;
	margin:0;
	border:0;
	width:100% !important;
	border-radius:7px;
	-webkit-border-radius:7px;	
}

/*-- Accordion --*/	
.shortcode_accordion_shortcode {margin:0 0 5px 0; 
}
.shortcode_accordion_item_title { 
	display:block;
	border:0;
	border-radius:0;
	box-shadow:none;
	padding:3px 5px 3px 21px;
	color:#666666;
	font-size:14px;
	line-height:20px;
	margin:7px 0 0 0 !important;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	font-weight:400;
	text-transform:none;
	transition: all 250ms;
	-webkit-transition: all 250ms;	
	background:none;
	font-family: 'Open Sans', sans-serif;
}
.shortcode_accordion_item_title:hover {color:#ff9000;
}
.shortcode_accordion_item_title.ui-state-active {
	color:#666666 !important;
	cursor:default;
}
.shortcode_accordion_item_title span.ui-icon {display:none;
}
.shortcode_accordion_item_title .ico { 
	position:absolute;
	left:0;
	top:50%;
	margin:-4px 0 0 0;
	display:block;
	width:9px;
	height:9px;
	background-image:url(../images/accordion_sprite.png);
	background-position:0 -9px;
	background-repeat:no-repeat;
}
.shortcode_accordion_item_title:hover .ico {background-position:0 0;
}
.shortcode_accordion_item_title.ui-state-active .ico { background-position:0 -18px !important;
}
.shortcode_accordion_item_title:hover .ico { background-position:0 0;
}
.shortcode_accordion_item_body { 
	padding:6px 0 7px 21px;
	border:none;
	color:#adadad;
}

.skill .skill_wrap {
    position:absolute;
	left:0;
	top:0;
	width:66px;
	height:66px
}
.skill .skill_text {
	color:#555555;
	left:0;
	right:0;
	font-size:32px;
	font-family: 'Amatic SC', cursive;
	font-weight:700;
	line-height:62px;
}
.easyPieChart {
    position: relative;
    text-align: center;
}
.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.round_img img {
	border-radius:7px;
	-webkit-border-radius:7px;
}

blockquote {
    border: medium none !important;
    margin: 0 0 8px 0;
    padding: 0 0 0 16px;
    position: relative;
	color:#adadad;
	font-size:13px;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	background:none;
	border-left:3px #c4c4c4 solid !important;
}
blockquote p {
    color:#adadad;
	font-size:13px;
	font-family:Arial;
	font-style:normal;
	font-weight:normal;
	margin: 0 0 8px 0;
    padding: 0;
}
blockquote p a {font-size:12px;
}

#services {/*position: relative;*/
}
#services header{
	background-image:url(../images/slide_bg/slide3_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

/* *** portfolio_isotope.css *** */

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

/* All Resolutions */
.filter_img {
	overflow:hidden;
	position:relative;
}
.filter_img img { 
	display:block; 
	width:100%; 
	height:auto;
}
.image-grid .element { 
	background:none; 
	overflow:hidden; 
	display:inline-block; 
	margin-bottom:25px; 
}
.portfolio_block {margin-bottom:0!important
}
.columns4 {
	margin:0 0 0 -30px!important;
	width:1200px;
}
.columns4 .element a {display:block;
}
.columns4 .element {
	width:262px; 
	margin-left:30px;
}	
.filter_navigation { overflow:hidden;
}
.portfolio_descr {
}

.filter_block,
.filter_navigation,
.filter_navigation ul,
.filter_navigation ul li ul {display:block!important;
}
.filter_navigation {
	margin-bottom:62px!important;
	text-align:center;
	padding-top:4px;
}
.filter_navigation ul, .filter_navigation ul li ul { 
	padding:0!important;
	margin:0!important;
	list-style:none!important;
}
.filter_navigation ul li, .filter_navigation ul li ul li { 
	padding:0!important;
	margin:0!important;
}
.filter_navigation ul li:before, .filter_navigation ul li ul li:before { 
	content:''!important;
	padding:0!important;
}
.filter_navigation ul li ul {
}
.filter_navigation ul li ul li {
	display:inline-block;
	position:relative;
	margin:0 3px 10px 3px !important;
}
.filter_navigation ul li ul li a {
	display:block;
	margin:0;
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	border:0;	
	line-height:20px;
	font-size:15px;
	font-weight:700;
	padding:13px 21px;
	text-transform:uppercase;
	vertical-align:top;
	text-align:center;
	color:#67635d;
	border:2px #67635d solid;
	border-radius: 7px;
	-webkit-border-radius:7px;
	transition: all 400ms; 
	-webkit-transition: all 400ms;
}
.filter_navigation ul li ul li.selected a,
.filter_navigation ul li ul li a:hover {
	color:#ff9000;
	border-color:#ff9000;
}
.load_more_cont {padding-top:30px;
}
.btn_load_more {
	display:block;
	margin:0;
}

#gallery {/*position: relative;*/
}
#gallery header{
	background-image:url(../images/slide_bg/slide4_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

.promo_text {padding:65px 0 54px 0;	
}
.promo_text h1 {
	font-size: 56px;
	padding:0 0 20px 0;
	margin:0;
	text-align: center;
	color:#67635d;
	font-weight:400;
	font-family: 'Amatic SC', cursive;
	line-height:48px;	
}
.promo_text p {
	color:#666666;
	font-weight:normal;
	line-height:20px;
	text-align: center;
	font-size:15px;
	font-family: Arial;
	padding-bottom:10px;
	margin:0;
}

.gallery_block {padding-bottom:65px;	
}
.gallery_block ul {
	padding:0 !important;
	margin:0 !important;
	list-style:none !important;
}
.gallery_block ul li {
	padding:0 !important;
	margin:0 !important;
	list-style:none !important;
	float:left;
	width:20%;
	vertical-align:top;
}
.gallery_block .hover_img,
.gallery_block .hover_img img {
	border-radius:0;
	-webkit-border-radius:0;
}
.gallery_block .zoom {background-image:url(../images/zoom_gallery.png);
}
.gallery_info {	padding-bottom:54px;
}
.gallery_info p {margin-bottom:10px;
}

#blog {/*position: relative;*/
}
#blog header{
	background-image:url(../images/slide_bg/slide5_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}

.blog_container {
	margin-top:14px;
	margin-bottom:0;
	background:url(../images/blog_bg.png) repeat-y center top;
	position:relative;
}
.blog_container:before {
	position:absolute;
	width:100%;
	height:57px;
	background:#fff;
	right:0;
	left:0;
	bottom:0;
	content:'';
}

.left_blog_posts,
.right_blog_posts {
	float:left;
	width:519px;
}
.right_blog_posts {	float:right;
}
.left_blog_posts .blog_post:before {
	position:absolute;
	width:15px;
	height:100%;
	background-image:url(../images/post_even_arrow.png);
	background-position:0 -90px;
	background-repeat:no-repeat;
	right:0;
	top:0;
	content:'';
	z-index:100;
}
.right_blog_posts .blog_post:before {
	position:absolute;
	width:15px;
	height:100%;
	background-image:url(../images/post_odd_arrow.png);
	background-position:0 -90px;
	background-repeat:no-repeat;
	left:0;
	top:0;
	content:'';
	z-index:100;
}

.blog_post {
	position:relative;	
	margin-bottom:65px;
	min-height:58px;
}
.blog_post iframe {
	padding:0;
	margin:0;
	border:0;
	vertical-align:top;
	outline:none;
	font-size:0;
}

.blog_post h4 {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#666666;
	padding:0 15px 0 0;
	margin:21px 0 12px 0;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
}
.blog_post h4 a {
	font-style:normal;
	font-size:16px;
	font-weight:400;
	color:#ff9000;
	line-height:20px;
	font-family: 'Open Sans', sans-serif;
}
.blog_post h4 a:hover {color:#666666;
}

.blog_post .desc_block {
	padding:0 15px 0 0;
	color:#666666;
	font-size:13px;
}

.post_info {
	padding:7px 15px 0 0;
	font-size:12px;
	color:#adadad;
	float:left;
}
.post_socials {
	padding:7px 15px 0 0;
	float:right;
}
.post_socials ul {
	padding:0;
	margin:0;
}
.post_socials li {
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
	margin-right:9px;
}
.post_socials li:last-child {margin-right:0;
}
.post_socials li a {
	width:19px;
	height:18px;
	display:block;
	text-indent:-9999px;
	background-position:19px 18px;
	background-repeat:no-repeat;
	background-image:url(../images/post_socials.png);
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.post_socials li a.fb {background-position:0 0;	
}
.post_socials li a.twitter {background-position:-32px 0;	
}
.post_socials li a.pinterest {background-position:-64px 0;	
}
.post_socials li a.google_plus {background-position:-92px 0;	
}
.post_socials li a:hover {
	opacity: 0.8; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

.post_type {
	width:58px;
	height:78px;
	position:absolute;
	right:-79px;
	top:-11px;
	background: url(../images/post_type.png) no-repeat left top;
}

.post_type:before {
	width:48px;
	height:48px;
	position:absolute;
	left:5px;
	top:15px;
	background-position:0 0;
	background-repeat:no-repeat;
	content:'';
	z-index:200;
	background-color:#fff;
	border-radius:50%;
	-webkit-border-radius:50%;
}

.first_post .post_type {top:83px;
}
.right_blog_posts .blog_post.first_post:before {background-position:0 0;
}

.video_type:before {background-image:url(../images/video_type.png);
}
.image_type:before {background-image:url(../images/image_type.png);
}
.photoset_type:before {background-image:url(../images/photoset_type.png);
}
.link_type:before {background-image:url(../images/link_type.png);
}
.audio_type:before {background-image:url(../images/audio_type.png);
}

.right_blog_posts .blog_post h4 {padding:0 0 0 15px;	
}
.right_blog_posts .blog_post .desc_block {padding:0 0 0 15px;
}
.right_blog_posts .blog_post .post_info {padding:7px 0 0 15px;
}
.right_blog_posts .blog_post .post_socials {padding:7px 0 0 15px;
}
.right_blog_posts .post_type {
	right:auto;
	left:-79px;
}

.round_corners {position:relative;
}
.left_blog_posts .blog_post .round_corners:before {
	position:absolute;
	right:15px;
	top:0;
	width:5px;
	height:5px;
	content:'';
	z-index:200;
	background:url(../images/corner_rt.png) no-repeat left top;
}
.left_blog_posts .blog_post .round_corners:after {
	position:absolute;
	right:15px;
	bottom:0;
	width:5px;
	height:5px;
	content:'';
	z-index:200;
	background:url(../images/corner_rb.png) no-repeat left top;
}
.right_blog_posts .blog_post .round_corners:before {
	position:absolute;
	left:15px;
	top:0;
	width:5px;
	height:5px;
	content:'';
	z-index:200;
	background:url(../images/corner_lt.png) no-repeat left top;
}
.right_blog_posts .blog_post .round_corners:after {
	position:absolute;
	left:15px;
	bottom:0;
	width:5px;
	height:5px;
	content:'';
	z-index:200;
	background:url(../images/corner_lb.png) no-repeat left top;
}
.round_corners {
	overflow:hidden;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.round_corners iframe, .round_corners img {
	border-radius:5px;
	-webkit-border-radius:5px;
}

/*Blog Pager*/
.pagerblock {
	padding-top:17px!important;
	text-align:center;
}
.pagerblock li {
	padding:0!important;
	margin:0 -1px 3px 0!important;
	display:inline-block;
}
.pagerblock li:before {
	content:'';
	display:none!important;
}
.pagerblock li a,
.pagerblock li span {
	border:0;
	border-radius:0;
	box-shadow:none;
	width:27px;
	height:27px;
	font-size:14px;
	font-weight:400;
	line-height:27px;
	text-align:center;
	display:block;
	color:#666666;
	background:#fff;	
	font-style:normal;
	font-family: 'Open Sans', sans-serif;
}
.pagerblock li a:hover, .pagerblock li span {color:#ff9000;
}

.contact_form {
	padding-top:70px;
	padding-bottom:40px;
}
/** Contact Section **/
#contact {/*position: relative;*/
}
#contact header{
	background-image:url(../images/slide_bg/slide6_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
.contact_info p {
	padding-left:33px;
	margin-bottom:14px;
	background-position:left top;
	background-repeat:no-repeat;
}
.contact_info p.i1 {background-image:url(../images/i1.png);
}
.contact_info p.i2 {background-image:url(../images/i2.png);
}
.contact_info p.i3 {background-image:url(../images/i3.png);
}
.contact_info p.i4 {background-image:url(../images/i4.png);
}
.contact_info p.i5 {background-image:url(../images/i5.png);
}
.contact_info p.i6 {background-image:url(../images/i6.png);
}
.contact_info p.i7 {background-image:url(../images/i7.png);
}
.contact_info p.i8 {background-image:url(../images/i8.png);
}
.contact_info p.i9 {background-image:url(../images/i9.png);
}

#map_section {
	margin:0 0 9px 0;
	max-height:415px;
	overflow:hidden;
}

form input {
	background: #fff !important;
	margin-top: 0;
	margin-bottom: 10px !important;
	padding: 10px 29px 10px 17px !important;
	border:2px #c4c4c4 solid !important;
	outline:none !important;
	border-radius:7px !important;
	-webkit-border-radius:7px !important;
	box-shadow:none !important;
	font-size:13px !important;
	color:#adadad !important;
	font-family:Arial;
	line-height:20px;
}
form textarea {
	background: #fff !important;
	height: 84px !important;
	margin-top: 0;
	margin-bottom: 10px !important;
	padding: 8px 29px 8px 17px !important;
	resize: none;
	border:none !important;
	border:2px #c4c4c4 solid !important;
	outline:none !important;
	border-radius:7px !important;
	-webkit-border-radius:7px !important;
	box-shadow:none !important;
	font-size:13px !important;
	color:#adadad !important;
	font-family:Arial;
	resize:none;
}

/*******************form valid style***************************/
.notification_error,
.notification_ok {
    border-radius: 0;
    margin: 2px 0 13px 0;
    padding: 12px 10px 12px 35px;
	position:relative;
}
.notification_ok {
    border: 1px #038BD4 solid;
    color: #038BD4;
	background:#D0E3EA;
}
.notification_error {
    border: 1px #C93119 solid;
    color: #C93119;
	background:#FFCFCF;
}
.notification_error:before,
.notification_ok:before {
    content: ''; 
	width: 16px;
	height: 16px;
	position: absolute;
	left:11px;
	top:13px;		
	background-position:0 0;
	background-repeat:no-repeat;
}
.notification_error:before {background-image:url(../images/error.png);
}
.notification_ok:before {background-image:url(../images/info.png);
}

input.send_btn {
	cursor: pointer;
	background: #fff !important;
	color: #ff9000 !important;
	margin: 0 6px 10px 0 !important;
	display: inline-block;
	padding: 0 15px !important;
	height:40px;
	line-height:40px;
	font-size: 12px !important;
	font-weight: 800 !important;
	width: auto !important;
	font-family: 'Open Sans', sans-serif;
	vertical-align:top;
	-webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
	text-transform:uppercase;
	border-color:#ff9000 !important;
}
input.send_btn:hover {
    border-color:#67635d !important;
	color: #666666 !important;
    text-decoration: none; 
}
input.clear_btn {
	cursor: pointer;
	background: #fff !important;
	color: #666666 !important;
	margin: 0 6px 10px 0 !important;
	display: inline-block;
	padding: 0 15px !important;
	height:40px;
	line-height:40px;
	font-size: 12px !important;
	font-weight: 800 !important;
	width: auto !important;
	font-family: 'Open Sans', sans-serif;
	vertical-align:top;
	-webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
	text-transform:uppercase;
	border-color:#67635d !important;
}
input.clear_btn:hover {
    border-color:#ff9000 !important;
	color: #ff9000 !important;
    text-decoration: none; 
}
.required {
	background-image: url(../images/required.png) !important;
	background-position:right top !important;
	background-repeat:no-repeat !important;
}

.partners_section {
	padding-top:55px;
	padding-bottom:51px;
}

.partners:hover .item img {
	opacity: 0.4; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);	
	transition: opacity 0.4s ease-in-out; 
	-webkit-transition: opacity 0.4s ease-in-out; 
}
.partners:hover .item:hover img {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
}

/** Footer **/
.footer {
	background-image:url(../images/slide_bg/slide7_bg.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
.footer_sidebar {
	color: #666666;
	width: 100%;
	padding:36px 0 37px 0;	
	overflow:hidden;
}
.footer_sidebar h4.title {
	color: #444444;
	line-height:28px;
	margin-bottom:25px;
	font-size:26px;
}

/*-- Flickr --*/
.flickr_widget_wrapper { 
	margin:0 0 0 -9px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.widget_flickr .flickr_badge_image { 
	float:left;
	display:inline-block;
	margin:0 0 9px 9px!important;
	width:81px!important;
	height:81px!important;
}
.widget_flickr .flickr_badge_image a {
	width:81px!important;
	height:81px!important;
	display:block;
}
.widget_flickr .flickr_badge_image img { 
	display:block!important;
	width:81px!important;
	height:81px!important;
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);
	transition: opacity 400ms; 
	-webkit-transition: opacity 400ms;
	border-radius:7px !important;
	-webkit-border-radius:7px !important;
}
.widget_flickr:hover .flickr_badge_image img {
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.widget_flickr .flickr_badge_image:hover img {
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

/*-- Popular Posts & Recent Posts --*/
.popular_posts,
.recent_posts { 
	list-style:none; 
	margin: 0;
	padding:0;
}
.popular_posts li,
.recent_posts li {
	float:none;
	margin:0;
	padding:0;
	display:block;
	margin-bottom:10px;
	overflow:hidden;
}
.popular_posts li img,
.recent_posts li img { 
	display:block;
	float:left;
	margin:0 16px 0 0;
	border-radius:7px;
	-webkit-border-radius:7px;
}
.popular_posts li .post_title,
.recent_posts li .post_title  {padding:0 0 6px 0;
}

.widget_mailchimpsf_widget label {
	font-size:13px !important;
	line-height:18px !important;
}
.widget_mailchimpsf_widget .mc_input {
	border:2px #c4c4c4 solid !important;
	border-radius:7px !important;
	-webkit-border-radius:7px !important;
	background-color:transparent !important;
	padding:8px 13px !important;
	margin:2px 0 5px 0!important;
	color:#adadad !important;
	font-size:13px !important;
	line-height:18px !important;
	font-family:Arial;
	box-shadow:none !important;
}
.widget_mailchimpsf_widget .mc_submit {
	padding:0 12px!important;
	line-height:36px!important;
	height:36px!important;
	display:inline-block!important;
	border-radius:7px !important;
	-webkit-border-radius:7px !important;
	border:2px #ff9000 solid !important;
	color:#ff9000 !important;
	font-size:12px !important;
	font-weight:800 !important;
	text-transform:uppercase !important;
	background-color:transparent !important;
	font-family: 'Open Sans', sans-serif;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	width: auto !important;
}
.widget_mailchimpsf_widget .mc_submit:hover {
	color:#666!important;
	border-color:#67635d !important;
	background-color:transparent !important;
	text-decoration: none;
}

.footer_bottom {
	background:url(../images/opacity.png) repeat;
	padding:47px 0 44px 0;
}
.copyright {
	padding: 11px 0;
	text-align:center;
	color:#555555;
}
.footer_bottom .socials {text-align:center;
}
.socials_list li {
	display:inline-block;
	width:40px;
	height:40px;
	margin:0 1px 5px 0;
}
.socials_list li a {
	width:40px;
	height:40px;
	display:block;
	opacity: 1;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	background-position:40px 40px;
	background-image:url(../images/social_icons.png);
	background-repeat:no-repeat;
}
.socials_list li a:hover {
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.socials_list li a.ico_social-facebook {background-position:0 0;
}
.socials_list li a.ico_social-twitter {background-position:-45px 0;
}
.socials_list li a.ico_social-linked {background-position:-90px 0;
}
.socials_list li a.ico_social-delicious {background-position:-135px 0;
}
.socials_list li a.ico_social-vimeo {background-position:-180px 0;
}
.socials_list li a.ico_social-flickr {background-position:-225px 0;
}
.socials_list li a.ico_social-pinterest {background-position:-270px 0;
}
.socials_list li a.ico_social-tumblr {background-position:-315px 0;
}
.socials_list li a.ico_social-youtube {background-position:-360px 0;
}
.socials_list li a.ico_social-instagram {background-position:-405px 0;
}
.socials_list li a.ico_social-gplus {background-position:-450px 0;
}
.socials_list li a.ico_social-dribbble {background-position:-495px 0;
}

/*-- Twitter --*/
.tweet_module { 
	list-style:none; 
	margin:0; 
	padding:0;
}
.tweet_module li { 
	position:relative;
	padding:0;
	background:none;
	margin:0 0 18px 0;
}

iframe {
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
	border:0 !important;
	max-width:100% !important;
	overflow-y: hidden !important;
}

.full_slider {
	background-color:#c1c1c1;
	background-position:center center;
	background-repeat:no-repeat;
}

.single_page .page_section header {
	background-image:url(../images/slide_bg/page_in.jpg);
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	text-align:left;
	padding-top:151px;
	padding-bottom:48px;
}
.single_page .page_section header h1 {
	color:#555555 !important;
	line-height:32px !important;
	font-size:32px !important;
	margin-bottom:11px !important;
	padding:0 !important;
	text-align:left !important;
}
.bread_crumb ul {
	padding:0;
	margin:0;
	list-style:none;
}
.bread_crumb ul li {
	padding:0;
	margin:0 31px 0 0;
	display:inline-block;
	color:#666666;
	position:relative;
}
.bread_crumb ul li:last-child {margin-right:0;
}
.bread_crumb a {color:#666666;
}
.bread_crumb a:hover {color:#ff9000;
}
.bread_crumb ul li:before {
	position:absolute;
	top:0;
	right:-17px;
	color:#666666;
	content:':';
}
.bread_crumb ul li:last-child:before {content:'';
}

.main_content,
.sidebar {
}

h2 {
	font-size:32px;
	line-height:35px;
	margin:0 0 21px 0;
	padding:0;
	font-weight:700;
	font-family: 'Amatic SC', cursive;
}
h2 a {
	font-size:32px;
	line-height:35px;
	font-weight:700;
	font-family: 'Amatic SC', cursive;
	color:#555;
}
h2 a:hover {color:#ff9000;
}

.single_post {
	padding:0 0 15px 0;
	margin-bottom:46px;
	background:url(../images/points.png) repeat-x left bottom;
}
.single_post p {margin-bottom:10px;
}
.post_meta {padding:0 0 19px 0;	
}
.post_meta .post_info,
.post_meta .post_socials {
	padding-top:0;
	padding-bottom:7px;
}
.post_meta .post_socials {padding-right:0;
}
.post_thumb {
	margin-bottom:24px;
	border-radius:7px;
	-webkit-border-radius:7px;
}
.post_thumb img {
	border-radius:7px;
	-webkit-border-radius:7px;
}
.post_meta .post_info {color:#666666;
}

#comments {
	padding:0 0 5px 0;
	margin-bottom:45px;
	background:url(../images/points.png) repeat-x left bottom;
}
ol.commentlist { 
	list-style:none; 
	margin:0; 
	padding:0;
}
ol.commentlist li {
	padding:0;
	margin:0 0 30px 0;
	list-style:none;
	font-style:normal !important;
	position:relative;
}
ol.commentlist li ul {padding-left:40px;
}
ol.commentlist  li .commentava {
	position:absolute;
	display:block;
	left:0;
	top:0;
	width:70px;
	height:70px;
}
ol.commentlist li .commentava img {
	display:block;
	border-radius:50%;
	-webkit-border-radius:50%;
}
.comment_info {
	padding:5px 0 10px 0;
	color:#adadad;
	font-size:12px;
}
.comment_info span {padding:0 10px;
}
.thiscommentbody {
	min-height:70px;
	margin-bottom:30px;
	padding-left:90px;
}

#respond form textarea {height: 104px !important;
}
#respond {padding-bottom:33px;
}

.divider_line {
	background:url(../images/points.png) repeat-x left top;
	height:1px;
	margin-bottom:45px;
}
.widget {margin-bottom:34px;
}
.sidebar {margin-top:-3px;
}
.sidebar h4.title {
	line-height:28px;
	margin-bottom:24px;
	font-size:26px;
	color:#444444;
}

.page_section {
	opacity: 1; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);	
}
.shadow_block {position:relative;
}
.shadow_block:before {
	height:21px;
	width: 100%;
	left:0;
	top:0;
	position:absolute;
	z-index:50;
	background: url(../images/section_header_shadow.png) no-repeat top center;
	content:'';
}
#page {overflow:hidden;
}

.widget_tagcloud {margin-right:-5px; 
}
.widget_tagcloud a {
    border: 2px #67635d solid;
	border-radius:7px;
	-webkit-border-radius:7px;
    color: #666666;
	background-color:#fff;
    display: inline-block;
    margin: 0 2px 6px 0;
    padding: 6px 12px;
	line-height:20px;
    vertical-align: top;
	font-family: Arial;
	font-size:13px;
	transition: all 400ms; 
	-webkit-transition: all 400ms; 	
}
.widget_tagcloud a:hover {
	color:#ff9000;
	border-color:#ff9000;
}

.widget_search form input {
	padding: 8px 29px 8px 38px !important;
	margin-bottom:0 !important;
	background:url(../images/search.png) no-repeat left top !important;
}

img {max-width:100%;
}
iframe {border:0 !important;
}


